* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1ddf3;
    color: rgb(216, 56, 176);
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}